html,
body {
  overflow: hidden;
}

body {
  margin: 0; 
  padding: 0; 
  overflow-y: scroll;
  overflow-x:hidden;
  height: 100vh;
  scroll-snap-type: y mandatory;
  background-color: #FAF9F6;
}



section {
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
  overflow-y: hidden;
  
}

#desktop-title {
  display: none;
  overflow-x:hidden;

}

.mobile-title {
  display: inherit;
  background-color: #FBEC5D;
  color: #FAF9F6;
}

.center {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;

}

h1 {
  font-family: "neue-kabel", sans-serif;
  font-style: normal;
  font-size: 6vh;
}


.staff {

  background-image: none;
  background-color: #FF7BAC;
  background-size:  auto 100vh;
}


.column {
  flex: 50%;
  padding: 10px;
  
}

h2 {
  font-family: "neue-kabel", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3vh;
}

a {
  text-decoration: none;
  color: black;
  font-family: "neue-kabel", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5vh;
  display:block;
  
}

.link-arrow p {
  font-size: 5vh;
  display: inline-block;
  transition: 0.1s ease-in;
}

.link-arrow:hover p {
  transform: translateX(50%);
}

.link-menu{
  line-height: 0.01px;
  padding-left: 5vw;
  padding-top: 10vh; 
}

#contact {
  height:100vh; 
}

#contact h2 {
  padding:10vw;
}


@media (min-width: 900px) {

  #desktop-title {
    display: inherit;
  }

  .mobile-title {
    display: none;
    /* height:0; */
  }


  .content {
    overflow: auto;
    flex-wrap: nowrap;
  }

  .staff {
    background-image: url("../images/auxavian_staff_lawnmower.jpg");
  }

}