
* {
    margin:0;
    padding:0;
    box-sizing: border-box; 
}

html, 
body {
    position: relative;
    width:100%;
    height:100%;
    overflow-y:hidden;

}

body {
    background-color: #8C0303; 
    font-family: "Monument Extended";
    font-size: 14px; 
    color: #8C0303; 
    margin: 0; 
    padding: 0; 


}


.container {
    width:100%;
    height:100%;

    display: flex;
    flex-wrap: wrap;
    color: inherit;
    background-color: inherit;
    
}

.nav {
    color: white;
    

}

.nav-side {
    height: 10%; 
    width: 100vw; 

}

.nav-items {
    display: flex;
    font-size: 24px;
}

.nav-items a {
    text-decoration: none;
    color: white;

}

#site-title {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 16vh; 
  padding-right: 50vh; 
}

.no-mobile {
  display: none;
}


.left-rot {
    transform: rotate(270deg); 
    display:none;
}

.nav-bottom {
    width: 100vw; 
    height: 5%; 
    display: flex;
    flex-direction: column;
}

.menu-slider {

    top: 0;
    bottom: 0;
    position: absolute;

    width: 100%;
    left:0;
    background-color: black;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 2;
    overflow-y: scroll;

  }
  
  .menu-content {
    margin-top: 5vh;
    margin-left:5vw;
    position: relative;
    color: white;
    text-align: left;
    font-weight: lighter;
    list-style: none;
    
  }

  .menu-content li {
    display: block;
    height: 100%;
    margin-right: 30px;
    position: relative;
    display: flex;

    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-family:"aktiv-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .section-title {
    font-size: 14pt;
  }

  .contributor {
    font-size: 12pt;
  }

  .menu-content li:hover {
    scale: 1.05;
    /* color: white; */
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  /* [ , "", "", "", "#010100", ""]; */

  .red:hover{
    color: #8C0303;
    -webkit-text-stroke: 1px #8C0303;
  }

  .orange:hover{
    color: #D95204;
    -webkit-text-stroke: 1px #D95204;
  }

  .pink:hover{
    color: #F2A7CA;
    -webkit-text-stroke: 1px #F2A7CA;
  }

  .blue:hover{
    color: #4A4EBC;
    -webkit-text-stroke: 1px #4A4EBC;
  }

  .black:hover{
    color: white;
    -webkit-text-stroke: 1px white;
  }

  .bblue:hover{
    color: #B8E2F2;
    -webkit-text-stroke: 1px #B8E2F2;
  }

  .contributor:hover{
    color:#FBEC5D;
    -webkit-text-stroke: 1px #FBEC5D;

  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ aside .menu-slider {
    transform: translateX(0%);
  }
  
  input[type="checkbox"]:checked ~ label .menu-bar {
    background-color: #fff;
  }
  
  input[type="checkbox"]:checked ~ label .top {
    -webkit-transform: translateY(0px) rotateZ(45deg);
    -moz-transform: translateY(0px) rotateZ(45deg);
    -ms-transform: translateY(0px) rotateZ(45deg);
    -o-transform: translateY(0px) rotateZ(45deg);
    transform: translateY(0px) rotateZ(45deg);
  }
  
  input[type="checkbox"]:checked ~ label .bottom {
    -webkit-transform: translateY(-15px) rotateZ(-45deg);
    -moz-transform: translateY(-15px) rotateZ(-45deg);
    -ms-transform: translateY(-15px) rotateZ(-45deg);
    -o-transform: translateY(-15px) rotateZ(-45deg);
    transform: translateY(-15px) rotateZ(-45deg);
  }
  
  input[type="checkbox"]:checked ~ label .middle {
    width: 0;
  }
  

  
  label {
    /* top: 10px; */
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    z-index: 3;
    position: relative;
  
  }
  
  .menu-bar {
    display: block;
    background-color:white;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
    transition: background-color 0.4s ease-in, transform 0.4s ease-in,
      width 0.4s ease-in;
  }


.swiper {

    width: 100%; 
    height: 100vh; 
    /* min-height: 100vh; */
    color: inherit;

}

.swiper-wrapper {
    
    color: inherit;
}

.swiper-slide {
    height: 100%;
    width: 100%;
    font-size: 18px;
    background-color: #FAF9F6;
    display: flex;
    color: inherit;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding-bottom: 20vh;
}

.column {

    width: 100%;
    padding-left: 1em;
    padding-top: 2em;
    padding-right: 1em;  
    
    

}

.title {
  
    /* padding-top: 10em; */
    width:100%;

    min-height: 30vh;
    padding: 0, 5vw, 0, 5vw;

    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    
}

.column-center {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-25%, -50%);
  padding: 10px;
  text-align: center;

}
.vertical-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 10px;

}

.visual-portrait {
    padding: 0px;
    width: fit-content;
    
}

.visual-portrait img {
    scroll-snap-align: start;   
    width: 100%;
    height: auto;

}

.visual-landscape {
  padding: 0px;
  width: 100%;
  height:auto;


}

.visual-landscape img {
  
  width: 100%;

}

.poetry {
  
   padding-left: 4em;
  
  
}

.poetry p {
  text-indent: -2em;
}

.poetry p::first-line {
  text-indent: 0px;
}



.prose {
  width: 100%;
    
}

.prose p {
  line-height: 1.6 ;
  margin-bottom: 15px;
  /* margin-right: 25px; */
  text-indent: 15px;
}

.title h1 {
  font-size: 24px;
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 600;
  font-style: normal;


}

.title h2 {
    color: rgb(130,130,130);
    font-size: 18px; 
    font-family: "ivypresto-display", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: .75em;
    line-height: 1.6 ;

}

.column p {
    color: black; 
    font-family: "minion-pro", serif;
    font-weight: 400;
    font-style: normal;
}


.mASwiper > .swiper-wrapper > .swiper-slide {
  background-color: black;
    
  
}

.mASwiper > .swiper-wrapper > .swiper-slide p {
  color: white;
}

.nav-button {
  width:100%; 
  overflow:hidden;
}

.nav-button:hover .icon {
  
  transform: scale(1.3);
  transform-origin: center;
}

.button-next{

    cursor: pointer;
    float: left;
    width: 100%;
    height: 5%;
    text-align: center;
    
}



.button-prev {

    cursor: pointer;
    float: left;
    width: 100%;
    height: 5%;
    text-align: center;

}



ion-icon {
    font-size: 24px;
}



.swiper-pagination{
  z-index: 1;
  width: 10%;
  text-align: center;
  float: left;
  top: 1.5%;

  
}

.swiper-pagination-bullet {
  opacity: 1;
  border: white solid 1px;
  background-color: transparent;


}
.swiper-pagination-bullet-active {
  background-color: white;
}

.luna {
  text-indent: 40pt;
}





.popup-image {
  position: fixed; 
  top: 0; 
  left: 0; 
  background: rgba(0, 0, 0, 0.9); 
  height:100%; 
  width: 100%; 
  z-index: 100;
  display: none;
}

.popup-image span {
  position: absolute; 
  top:0; right:20px; 
  font-size: 40px;
  /* font-weight: bolder;  */
  color: #ffff; 
  cursor: pointer; 

}

.popup-image img{
  position: absolute; 
  top: 50%; left: 50%; 
  transform: translate(-50%, -50%); 
  width: 95%; 
  object-fit: cover;
  
}

.contributor-list{
  overflow-y: scroll;
}

.contributor-list h1 {
  color: rgb(150,150,150);
  font-size: 24pt; 
  line-height: 1.5;
  cursor:pointer;
}

.contributor-hover {
  height:50%;
  width:100%;
  padding:10px;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contributor-hover img {
  width:10vw;
}

#leto{
  
  display:none; 
}
  



@media (min-width: 900px) {

  .swiper-pagination{
    top:auto;
  }

  .column {
    width:50%;
    height: 100%;
    padding-left: 5em;
    padding-right: 0; 
    float: left;
  }
  .prose, .prose-poetry {
    padding-right:3em;
  }

  .title {
    width:50%;
    position:sticky;
    top: 0; 
    padding-top: 0;
  }

  .title h1 {
    font-size: 3vw;
  }

  .title h2 {

    font-size: 1.5vw; 
    padding-left: .75em;
  }

  .left-rot {
    display:flex;
  }

  .nav-side {
    width: 5%; 
    height: 90vh; 
    
  }

  .menu-slider {
    width: 100%;
  }

  .no-mobile {
    display: block;
  }

  .swiper {
    width: 90%; 
  }
  .nav-items {
    justify-content: center;
    padding: 1em 0; 
  }
  

  .section-title {
    font-size: 30pt;
  }

  .contributor {
    font-size: 18pt;
  }

  .swiper-slide {
    overflow: auto;
    flex-wrap: nowrap;
    height:95%;
    padding-bottom:0;
  }
  .visual-landscape {
    padding: 0px;
    overflow:hidden;

  }

  .visual-portrait {
    padding: 0px;
    overflow:hidden;

  }

  .visual-portrait img, video {
    
    height: 100%;
    width: auto;

  }
  
  .popup-image img{
    width: 900px; 
  }

  .column img {
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .visual-landscape img:hover {
    
    transform: scale(1.05);
    transform-origin: center;
  }
  .visual-portrait img:hover {
    
    transform: scale(1.05);
    transform-origin: center;
  }


}
