* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html, 
body {
    position: absolute;
    width:100%;
    height:200%;
}
body {
    background: #eee; 
    font-family: "Monument Extended";
    font-size: 14px; 
    color: #000; 
    margin: 0; 
    padding: 0; 
}

.container {
    position: absolute; 
    width: 100%; 
    height: 90vh; 
    display: flex;
}

.nav {
    position: relative; 
    width: 8%; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    padding: 2em 0;  

}

.nav-right {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 80%; 
}

.bottom-nav {
    padding: 2em 0; 
    width: 100%; 
    height: 90vh; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-transform: uppercase;
}

span {
    position: absolute;
    top: 25%; 
    text-transform: uppercase; 
    transform: rotate(90deg); 
    width: max-content; 

}



.swiper {
    width: 100%; 
    height: 100%; 
}

.nav-items {
    display: flex;
    transform: rotate(90deg); 
    padding: 1em 0; 
}

.nav-items div {
    padding: 0 1em; 
    text-transform: uppercase;
    color: gray; 
    font-weight: bolder; 
}

.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18ppx; 
    background: #fff; 
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: -2; 
}

.swiper-slide img {
    position: absolute; 
    display: block; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -2; 
}

.swiper {
    margin-left: auto; 
    margin-right: auto;
}

.slider-nav {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    z-index:2; 
    color: #fff; 
}

.slider-copy {
    height: 100%; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 0; 
    color: #fff; 
    text-transform: uppercase;
    font-weight: bolder; 
}

.header {
    font-size: 5vw;
}

.song-name {
    color: rgba(0,0,0,0); 
    -webkit-text-stroke: 2px #fff;
    font-size: 6vw;
    padding: 0.2em 0; 

}

.artist {
    font-weight: 300;
    padding: 0.5em; 
}

ion-icon {
    font-size: 30px; 
    padding: 1em;
}

.content {
    position: relative; 
    width: 100%; 
    top: 90vh; 
    padding: 0 2em;
}



